$textHeader: black;

// Propriétés pour les boutons verts
$greenButton: #4BA87D;
$textGreenButton: white;

// Propriétés pour les boutons blancs
$whiteButton: white;
$textWhiteButton: #4BA87D;
$borderWhiteButton: #4BA87D;